
<div class="container d-flex justify-content-center p-5">
  <form action="/answer" data-turbo="false">
    <input class="rounded border border-dark" type="text" name="question">
    <input class="bg-success rounded border border-success" type="submit" value="Ask!">
  </form>
</div>
